<div class="row carousal">
    <div class="col-6 women-section ">
        <div class="wuser-section">
            <p class="p-0 m-0">Fashion Collection For</p>
            <h1 class="p-0 fw-semibold ">Women</h1>
          <a href=""routerLink="/product">  <button class="btn btn-warning px-4 py-2 fw-medium w-100  ">Shop Now</button></a>
        </div>
    </div>
    <div class="col-6 men-section">
        <div class="muser-section">
            <p class="p-0 m-0">Fashion Collection For</p>
            <h1 class="p-0 fw-semibold ">Men</h1>
           <a href=""routerLink="/product"><button class="btn btn-warning px-4 py-2 fw-medium w-100  ">Shop Now</button></a>
        </div>
    </div>
</div>
<div class="slogan">
    <h1 class="fw-semibold">Buy for less. Sell for free. Keep fashion circular.</h1>
    <button class="btn btn-warning px-4 py-2 m-3 fw-medium w-10  ">Style Assistence</button>
</div>
 