<div class="containers-fluid">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-6  regImg">

        </div>
      
        <div class="col-6 reg-container">
            <div class="card w-75 p-4 shadow-sm">
                <h2 class="text-center mb-4">Sign Up</h2>
                <form method="post">
                    <div class="mb-3 px-3">
                        <label for="text" class="form-label">Name</label>
                        <input type="text" class="form-control" aria-label="default input example" name="name"  id="name">

                         <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" aria-label="default input example" name="address" id="address">

                        <label for="contact" class="form-label">Contact No</label>
                        <input type="tel" class="form-control" aria-label="default input example" name="contact" id="contact">

                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" aria-label="default input example" name="email" id="email">

                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" aria-label="default input example" name="userName" id="userName">

                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword">

                        <button class="btn btn-warning mt-5 w-100">Register</button>
                        <div class="d-flex justify-content-center mt-3">
                            I already have an account?
                            &nbsp;
                        <a href="" routerLink="/SignIn" class="float-">Sign in</a>
                         </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>