<section>
    <div class=" bg-secondary-subtle mt-5  p-5 ">
        <div class=" text-start">
            <h2 class="fs-2 fw-bold">Shop by style</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
            <div class="col" *ngFor="let product of products">
                <div class="card h-100">
                    <img src="{{ product.imgUrl }}" class="card-img-top p-4" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text">{{ product.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Popular this week  -->
<section>
    <div class=" mt-5 p-5 rounded-3">
        <div class=" text-start">
            <h2 class="fs-2 fw-bold">Popular this week</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
            <div class="col" *ngFor="let product of products">
                <div class="card h-100">
                    <img src="{{ product.imgUrl }}" class="card-img-top p-4" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text">{{ product.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Sort by price  -->
<section>
    <div class="bg-secondary-subtle mt-5 p-5 ">

        <div class=" text-start">
            <h2 class="fs-2 fw-bold">Sort by price</h2>
        </div>
        <div class="container d-flex flex-row rounded-3 p-4  align-item-center justify-content-evenly">
            <div class="cards  align-self-center p-4 text-center rounded-3 " style="width: 15rem;">
                <p class="fs-2">Under <span class="fw-bold">$10</span></p>

            </div>
            <div class="cards  align-self-center p-4 text-center  " style="width: 15rem;">
                <p class="fs-2">Under <span class="fw-bold">$20</span></p>

            </div>
            <div class="cards  align-self-center p-4 text-center  " style="width: 15rem;">
                <p class="fs-2">Under <span class="fw-bold">$50</span></p>

            </div>
            <div class="cards  align-self-center p-4 text-center  " style="width: 15rem;">
                <p class="fs-2">Under <span class="fw-bold">$100</span></p>

            </div>
        </div>
    </div>

</section>
<section class="p-5">
    <p class="fs-2 fw-bold ms-3 mt-3 ">Snap Cart Edits</p>
      <p class="fs-5 ms-3 m">Items we love, updated daily</p>
    <div class="continer m-2 p-2">
        <div class="row">
            <div class="col-6 h-25  ">
                <div class="row p-2">
                    <div class="col-4"><img src="/images/women.jpg" alt="" srcset=""></div>
                    <div class="col-4"><img src="/images/women.jpg" alt="" srcset=""></div>
                    <div class="col-4"><img src="/images/women.jpg" alt="" srcset=""></div>
                </div>
                <div class="row p-2">
                    <div class="col-4"><img src="/images/women.jpg" alt="" srcset=""></div>
                    <div class="col-4"><img src="/images/women.jpg" alt="" srcset=""></div>
                    <div class="col-4"><img src="/images/women.jpg" alt="" srcset=""></div>
                </div>
                <div class="row p-2">
                    <div class="col-4"><img src="/images/women.jpg" alt="" srcset=""></div>
                    <div class="col-4"><img src="/images/women.jpg" alt="" srcset=""></div>
                    <div class="col-4"><img src="/images/women.jpg" alt="" srcset=""></div>
                </div>
            </div>
            <div class="col-6 h-25">
                <div class="row"><img src="/images/women.jpg" alt="" srcset=""></div>
            </div>
        </div>

    </div>
</section>