
<!--top- nav-->
<nav class="navbar  shadow-sm px-4 py-3 bg-white  ">
    <div class="logo_container navBar ">
        <img src="" alt="logo" srcset="">
    </div>
    <div class="content_container ">
       <a href="" routerLink="/SignUp"><button class="btn btn-success px-4 py-2 m-2 fw-semibold">Sign Up</button></a> 
        <a href="" routerLink="/SignIn" class=""><button class="btn border-success px-4 py-2 m-2 fw-semibold text-success" >Log In</button></a>
        <span class="input">
            <input type="text" name="" id="" class="search form-group border-success rounded-pill px-5 py-2 m-2  "
                placeholder="Search your favorites">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#000000">
                <path
                    d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
            </svg>
        </span>
    </div>
</nav>
<!--bottom nav-->
<div class="navbar nav-bottom row">
    <div class="col-2"></div>
    <div class="nav-links col-6">
        <ul class="nav fm-semibold">
            <li class="nav-item"><a class="nav-link text-dark" href="#">Women</a></li>
            <li class="nav-item">
                <a class="nav-link active-link" href="#">Men</a>
            </li>
            <li class="nav-item"><a class="nav-link text-dark" href="#">Kids</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="#">Sports</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="#">Brands</a></li>
        </ul>
    </div>
    <div class="user-actions col-2  ">
        <span class="m-2">
            <svg class="m-2" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#000000">
                <path
                    d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Z" />
            </svg>
            <svg class="m-2" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#000000">
                <path
                    d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM208-800h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Z" />
            </svg>
        </span>
        <a href="" routerLink="/seller"><button class="btn btn-warning px-4 py-2   me-1 fw-medium  ">Sell Now</button></a>
    </div>
</div>