<div class="containers-fluid">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-6 login-container">
            <div class="card w-75 p-4 shadow-sm">
                <h2 class="text-center mb-4">Sign In</h2>
                <form method="post" [formGroup]='loginForm' (ngSubmit)="onSubmit()">
                    <div class="mb-3 px-3">
                        <label for="email" class="form-label">Username</label>
                        <input type="text" formControlName="username" class="form-control" 
                        [ngStyle]="f['username'].touched && f['username'].invalid ? {'border-bottom':'2px solid red'} :{} "
                         aria-label="default input example" name="username"
                            id="userName">

                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <input type="password" formControlName="password"
                        [ngStyle]="f['password'].touched && f['password'].invalid ? {'border-bottom':'2px solid red'}:{}" 
                        class="form-control" id="inputPassword">

                        <button type="submit" class="btn btn-warning mt-5 w-100">Log In</button>

                        <div class="d-flex justify-content-center mt-3">
                            Don't have an account?
                            &nbsp;
                        <a href="" routerLink="/SignUp" class="float-">Sign Up</a>
                         </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6  loginImg">

        </div>
    </div>
</div>