<div class="container ad-card">
    
        <div class="col-6  content py-5 ">
            <h1 class="text-light ">Do spooky season in style</h1>
            <p class="text-light">Scare your friends with how good you look</p>
                <button class="btn btn-warning px-4 py-2 fw-medium w-10  ">Shop Now</button>
        </div>
        <div class="col-6 me-5 adImg">
             
        </div>
        <div class="col-6  content py-5  ">
            <h1 class="text-light ">Sneakers under Rs.5000</h1>
            <p class="text-light">Don’t miss styles from the biggest brands</p>
                <button class="btn btn-warning px-4 py-2 fw-medium w-10  ">Shop Now</button>
        </div>
        <div class="col-6 adImg">
             
        </div>
         <div class="col-6  content py-5  ">
            <h1 class="text-light ">A fresh start</h1>
            <p class="text-light">Begin the new season in streetwear</p>
                <button class="btn btn-warning px-4 py-2 fw-medium w-10  ">Shop Now</button>
        </div>
        <div class="col-6 adImg">
             
        </div>
    
    
</div>