<div class="dashboard-container">
  <!-- Sidebar -->
  <aside class="dashboard-sidebar">
    <div class="sidebar-header">
      <img src="logo.png" alt="SnapCart Logo" class="logo">
      <h3>Dashboard</h3>
    </div>
    <nav class="sidebar-nav">
      <a routerLink="/dashboard/dashboard-home" 
         class="nav-item" 
         routerLinkActive="active" 
         [routerLinkActiveOptions]="{exact: false}"
         (click)="setActiveTab('overview')">
        <i class="fas fa-home"></i>
        <span>Overview</span>
        <div class="active-indicator" *ngIf="activeTab === 'overview'"></div>
      </a>
      <a routerLink="/dashboard/product-listings" 
         class="nav-item" 
         routerLinkActive="active" 
         [routerLinkActiveOptions]="{exact: false}"
         (click)="setActiveTab('products')">
        <i class="fas fa-box"></i>
        <span>Products</span>
        <div class="active-indicator" *ngIf="activeTab === 'products'"></div>
      </a>
     
      <!-- <a href="#" 
         class="nav-item" 
         [class.active]="activeTab === 'settings'"
         (click)="setActiveTab('settings')">
        <i class="fas fa-cog"></i>
        <span>Settings</span>
        <div class="active-indicator" *ngIf="activeTab === 'settings'"></div>
      </a> -->
    </nav>
    
  </aside>
<div class="dashboard-content h-100">
  <router-outlet></router-outlet>
</div>