<div class="dashboard-container">
  <!-- Sidebar -->
  <aside class="dashboard-sidebar">
    <div class="sidebar-header">
      <img src="assets/images/logo.png" alt="SnapCart Logo" class="logo">
      <h3>Dashboard</h3>
    </div>
    <nav class="sidebar-nav">
      <a href="#" routerLink="/dashboard/dashboard-home" class="nav-item active">
        <i class="fas fa-home"></i>
        <span>Overview</span>
      </a>
      <a href="#" routerLink="/dashboard/product-listings" class="nav-item">
        <i class="fas fa-box"></i>
        <span>Products</span>
      </a>
      <a href="#" class="nav-item">
        <i class="fas fa-shopping-cart"></i>
        <span>Orders</span>
      </a>
      <a href="#" class="nav-item">
        <i class="fas fa-users"></i>
        <span>Customers</span>
      </a>
      <a href="#" class="nav-item">
        <i class="fas fa-chart-bar"></i>
        <span>Analytics</span>
      </a>
      <a href="#" class="nav-item">
        <i class="fas fa-cog"></i>
        <span>Settings</span>
      </a>
    </nav>
    
  </aside>
<div class="dashboard-content h-100">
  <router-outlet></router-outlet>
</div>